<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include partials/head.ejs %>
    <title>Check Me In</title>
  </head>
  <header class="mx-auto">
    <img src="https://i.imgur.com/PTTDYJd.jpg" alt="">
    <h3>Hi, <%= currentUser.username %></h3>
    <h1>Welcome to Check Me In</h1>
      <h3>The #1 automated check-in service on the interwebs!</h3>

  </header>
  <body>
    <div class="container">

              <h6>(Click on a name for more details)</h6>
               <ul class="flightList py-2">

                     <li>
                       <a href="/flights/<%= currentUser._id %>"><%= currentUser.firstName %> <%= currentUser.lastName%></a>
                     </li>

                  </ul>
               <nav>
               <a  href="/flights/<%= currentUser._id %>/new"><button class="index-button mx-auto mt-2">Create New Scheduled Check-in</button></a>
               </nav>

    </div>
  </body>
</html>
