<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include partials/head.ejs %>
    <title>Check Me In</title>
  </head>
  <header>
    <h2>Welcome back, <%= currentUser.firstName %>! Here's your current check-in info:</h2>
    <a href="/<%= currentUser._id %>">Back to Scheduled listings</a>
  </header>
  <body>
    <div class="container">

        <ul class="showList">
          <li><b>Name:  </b> <%= currentUser.firstName %> <%= currentUser.lastName%></li>
          <li><b>Airline:  </b> <%= currentUser.airlineName %> </li>
          <li><b>Flight Number:  </b> <%= currentUser.flightNum %> </li>
          <li><b>Confirmation Number:  </b> <%= currentUser.confirmationNum %> </li>
          <li><b>Flight Date:  </b> <%= currentUser.flightDate %> </li>
          <!-- Conversion from military time to standard -->
                <% let checkIn = currentUser.checkInTime %>
                <% time = checkIn.replace(':', '.'); %>
                <% if (time > 12) { %>
                  <% let nonMilitary = time - 12; %>
                  <% let timeString = nonMilitary.toFixed(2); %>
                  <% let newTime = timeString.replace('.', ':'); %>
                  <li><b>Check-in Time:  </b> <%= newTime %>PM </li>
                <% } else { %>
                  <li><b>Check-in Time:  </b> <%= checkIn %>AM </li>
                <% } %>
          <li><b>Updated At:  </b> <%= currentUser.updatedAt %> </li>
        </ul>
        <nav class="row">
            <a class="show-edit" href="/flights/<%= currentUser._id %>/edit"><button>Edit Your listing</button></a>
            <form action="/flights/<%=currentUser._id; %>?_method=DELETE" method="POST">
                      <input class="show-delete" type="submit" value="Delete This Listing">
                    </form>
        </nav>
      </div>
  </body>
 </html>
