<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <div class="container">
      <h2>Automated flight check-in details for <%= flight.name %></h2>
        <ul>
          <li><label>Name: </label><%= flight.name %> </li>
          <li><label>Airline: </label><%= flight.airlineName %> </li>
          <li><label>Flight Number: </label><%= flight.flightNum %> </li>
          <li><label>Confirmation Number: </label><%= flight.confirmationNum %> </li>
          <li><label>Check-in Date and Time: </label><%= flight.checkInTime %> </li>
        </ul>
        <nav>
            <a href="/"><button>Back to Scheduled listings</button></a>
        </nav>
    </div>
  </body>
</html>
