<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <div class="container">
      <h2>Automated flight check-in details for <%= flight.name %></h2>
        <ul>
          <li><b>Name:  </b> <%= flight.name %> </li>
          <li><b>Airline:  </b> <%= flight.airlineName %> </li>
          <li><b>Flight Number:  </b> <%= flight.flightNum %> </li>
          <li><b>Confirmation Number:  </b> <%= flight.confirmationNum %> </li>
          <li><b>Check-in Date and Time:  </b> <%= flight.checkInTime %> </li>
        </ul>
        <nav>
            <a href="/"><button>Back to Scheduled listings</button></a>
            <a href="/flights/<%= flight.id %>/edit"><button>Edit Your listing</button></a>
            <form action="/flights/<%=flight.id; %>?_method=DELETE" method="POST">
                      <input type="submit" value="Delete This Listing">
                    </form>
        </nav>
    </div>
  </body>
</html>
