<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include partials/head.ejs %>
    <title>Check Me In</title>
  </head>
  <header>
    <h2>Automated flight check-in details for <%= flight.name %></h2>
    <a href="/">Back to Scheduled listings</a>
  </header>
  <body>
    <div class="container">

        <ul class="showList">
          <li><b>Name:  </b> <%= flight.name %> </li>
          <li><b>Airline:  </b> <%= flight.airlineName %> </li>
          <li><b>Flight Number:  </b> <%= flight.flightNum %> </li>
          <li><b>Confirmation Number:  </b> <%= flight.confirmationNum %> </li>
          <li><b>Flight Date:  </b> <%= flight.flightDate %> </li>
          <!-- Conversion from military time to standard -->
                <% let checkIn = flight.checkInTime %>
                <% time = checkIn.replace(':', '.'); %>
                <% if (time > 12) { %>
                  <% let nonMilitary = time - 12; %>
                  <% let timeString = nonMilitary.toString(); %>
                  <% let newTime = timeString.replace('.', ':'); %>
                  <li><b>Check-in Time:  </b> <%= newTime %>PM </li>
                <% } else { %>
                  <li><b>Check-in Time:  </b> <%= checkIn %>AM </li>
                <% } %>
          <li><b>Updated At:  </b> <%= flight.updatedAt %> </li>
        </ul>
        <nav class="row">
            <a class="show-edit" href="/flights/<%= flight.id %>/edit"><button>Edit Your listing</button></a>
            <form action="/flights/<%=flight.id; %>?_method=DELETE" method="POST">
                      <input class="show-delete" type="submit" value="Delete This Listing">
                    </form>
        </nav>
    </div>
  </body>
 </html>
